GCP_PROJECT=example-project-id
GCS_BUCKET=example-bucket
GCS_PREFIX=example/prefix
ORBIT_API_BASE_URL=http://localhost:8000
RESULTS_BUCKET=example-results-bucket
NLC_UPLOAD_BUCKET=example-upload-bucket
NLC_ASSET_ROOT=projects/example-project-id/assets/space_for_time_tasking
NLC_RESULTS_PREFIX=space_for_time_tasking/results
NLC_DEMO_ASSET_ID=projects/example-project-id/assets/example-asset
NLC_DEMO_COG_URL=https://storage.googleapis.com/example-bucket/example/path/example.tif

GCP_PROJECT=damage-control-403117
GCS_BUCKET=unops
GCS_PREFIX=exports/unops
ORBIT_API_BASE_URL=http://localhost:8000
RESULTS_BUCKET=unops
NLC_UPLOAD_BUCKET=orbit-lc
NLC_ASSET_ROOT=projects/damage-control-403117/assets/space_for_time_tasking
NLC_RESULTS_PREFIX=space_for_time_tasking/results
NLC_DEMO_ASSET_ID=projects/example-project-id/assets/example-asset
NLC_DEMO_COG_URL=https://storage.googleapis.com/unops/_200m/ireland_national_pred_200m.tif